---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Inventores',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[

      { text: 'Ver más', href: '#features' },
    ]}
    image={{ src: '~/assets/images/curso2.jpg', alt: 'Clase de Impresión 3D' }}
  >
    <Fragment slot="title">
      Laboratorio de Inventores:
      <span class="text-accent dark:text-white highlight"> Impresión 3D e inovación tecnológica</span>
    </Fragment>

    <Fragment slot="subtitle">
      Contamos con alrededor de 21 impresoras 3D de tecnología FDM y 3 impresoras de resina con resolución 4k.
       Ven a hacer realidad tus proyectos de robótica, biomédica, mecánica, programación y más. 
       <br>
       Te invitamos a ser un Inventor, realizar tus prácticas profesionales  servicio social acompañado de
        nuestro personal especializado.
    </Fragment>
  </Hero>
  <!-- Note Widget ******************* -->

  <Note />
  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Servicios"
    title="Lo que el laboratorio tiene para ofrecerte"
    subtitle="Al ser un laboratorio multidiciplinario contamos con variedad de alumnos próximo a egresar de diferentes carreras que te pueden capacitar y apoyar en tecnologías de impresión 3D, modelado, desarrollo web y de videojuegos, robótica, electrónica, drones y más."
    items={[
      {
        title: 'Solicitud de impresión de modelos 3D',
        description:
          'Solicita la impresión de tus modelos 3D con nosotros. Te garantizamos calidad y precisión en cada detalle.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Capacitación de uso de impresoras 3D',
        description:
        'Aprende a utilizar eficientemente las impresoras 3D con nuestro programa de capacitación. Dominarás todas las funciones y técnicas necesarias.',
        icon: 'tabler:components',
      },
      {
        title: 'Creación de modelos digitales 3D',
        description:
          'Diseñamos modelos digitales 3D a medida según tus necesidades. Transformamos tus ideas en modelos tridimensionales sorprendentes.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Creación de sistemas web',
        description:
          'Desarrollamos sistemas web innovadores y personalizados para potenciar tu presencia en línea. Aprovecha la tecnología para alcanzar tus metas.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Capacitación de desarrollo de videojuegos',
        description:
          "Aprende las habilidades fundamentales y avanzadas para el desarrollo de videojuegos. Impulsamos tu creatividad para que construyas experiencias únicas.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Capacitación de app de realidad virtual',
        description:
          'Sumérgete en el mundo de la realidad virtual con nuestra capacitación. Desarrolla aplicaciones inmersivas y descubre nuevas posibilidades.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
  id = 'content'
    isReversed
    tagline="Proyectos"
    title="Confianos tu proyecto modular o proyecto personal"
    items={[
      {
        title: 'Más de 3700 Impresiónes realizadas',
        description:
          'El fuerte del laboratorio es la impresión 3D en filamente y resina por lo que somos expertos en diseñar, imprimir y constuir prototipos y proyectos físicos con las mejores caracteristicas',
      },
      {
        title: 'Más de 150 cursos y clases impartidas',
        description:
          'Compartir el conocimiento adquirido en la universidad es importante para nosotros los Inventores, te invitamos a participar en los eventos que organizamos como cursos, clases, conferencias y más.',
      },
      {
        title: 'Más de 300 proyectos realizados',
        description:
          'Más de 300 alumnos y docentes han confiado en nosotros para llevar a cabo sus ideas y proyetos. Acercate a platicarnos sobre ti y tus ideas, te aseguramos que te ayudaremos que sean tangibles.',
      },
    ]}
    image={{
      src: '~/assets/images/proyectos.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Tenemos más de 3 años de experiencia con proyectos universitarios</h3>
      Contamos con cientos de proyectos completados de manera exitosa que nos respaldan con la mejor calidad en el plantel.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Steps Widget ****************** -->

  <Steps
    title="¿Cómo imprimir en el laboratorio?"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Plantea una idea para tu proyecto</span>',
        description:
          "Se creativo al imaginar y proponer un proyecto, si no tienes ideas podemos ayudarte a crear algo nuevo.",
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Escribenos o ven a platicarnos</em>',
        description:
          "Visita el laboratorio y llena nuestro formulario para recopilar informacion de tu proyecto y así poder entregarte la mejor calidad posible de acuerdo a tus necesidades. ",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Permitenos aportar, diseñar e imprimir tu proyecto </span>',
        description:
          'El resto dejanoslo a nosotros, tenemos personal capacitado para trabajar todo tipo de proyectos, te recomendamos darle seguimiento para que este al tanto de las actualizaciones de tu proyecto.',
        icon: 'tabler:paint',
      },
      {
        title: '¡Listo! Ya puedes disfrutar y seguir trabajando con tu proyecto impreso en 3D',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80",
      alt: 'Proyecto impreso en 3D',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Servicios"
    subtitle="Como laboratorio multiciplinario nos centramos en varias áreas de desarrollo e inovación."
    tagline="Conoce lo que hacemos"
    items={[
      {
        title: 'Solicitud de impresión de modelos 3D',
        description: "Solicita la impresión de tus modelos 3D con nosotros. Te garantizamos calidad y precisión en cada detalle.",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Capacitación de uso de impresoras 3D',
        description:
          "Aprende a utilizar eficientemente las impresoras 3D con nuestro programa de capacitación. Dominarás todas las funciones y técnicas necesarias.",
          icon: 'flat-color-icons:approval',
      },
      {
        title: 'Creación de modelos digitales 3D',
        description:
          'Diseñamos modelos digitales 3D a medida según tus necesidades. Transformamos tus ideas en modelos tridimensionales sorprendentes.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Creación de sistemas web',
        description:
          "Desarrollamos sistemas web innovadores y personalizados para potenciar tu presencia en línea. Aprovecha la tecnología para alcanzar tus metas.",
          icon: 'flat-color-icons:approval',
      },
      {
        title: 'Capacitación de desarrollo de videojuegos',
        description:
          'Aprende las habilidades fundamentales y avanzadas para el desarrollo de videojuegos. Impulsamos tu creatividad para que construyas experiencias únicas.',
          icon: 'flat-color-icons:approval',
      },
      {
        title: 'Capacitación de app de realidad virtual',
        description: 'Sumérgete en el mundo de la realidad virtual con nuestra capacitación. Desarrolla aplicaciones inmersivas y descubre nuevas posibilidades.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Capacitación de desarrollo de aplicación interactiva',
        description: 'Conviértete en un experto en el desarrollo de aplicaciones interactivas. Aprende a crear experiencias digitales atractivas y funcionales.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Creación de aplicaciones de realidad virtual (Próximamente)',
        description:
          'Estamos trabajando en nuevas experiencias de realidad virtual. Pronto podrás disfrutar de aplicaciones que te transportarán a mundos increíbles.',
          icon: 'flat-color-icons:approval',
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes"
    id = "faqs"
    subtitle="Algunas de las dudas que tienen los aspirantes ser nuevos Inventores, no dudes en dejarnos saber su dudas a través de nuestros contactos"
    tagline="No te quedes con la duda"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '1. ¿Qué servicios ofrece su laboratorio de impresión 3D?',
        description:
          "Nuestro laboratorio de impresión 3D ofrece una amplia gama de servicios, incluyendo la impresión de prototipos, piezas personalizadas, y objetos decorativos. También brindamos asesoría técnica y soporte en el diseño 3D para asegurar que sus proyectos sean de la más alta calidad.",
      },
      {
        title: '2. ¿Qué tipos de cursos de capacitación en impresión 3D tienen disponibles?',
        description:
          'Ofrecemos cursos de capacitación para todos los niveles de experiencia, desde principiantes hasta avanzados. Nuestros cursos cubren desde los fundamentos del modelado 3D y la operación básica de impresoras 3D, hasta técnicas avanzadas de diseño y mantenimiento de equipos.',
      },
      {
        title: "3. ¿Qué plataformas de videojuegos desarrollan o apoyan?",
        description:
          "Nos especializamos en el desarrollo y soporte de videojuegos para múltiples plataformas, incluyendo PC, consolas (como PlayStation y Xbox), y dispositivos móviles (iOS y Android). También brindamos asesoría en la optimización de juegos y en la integración de tecnologías de realidad virtual y aumentada.",
      },
      {
        title: '4. ¿Cómo pueden ayudarme a desarrollar una página web?',
        description:
          "Nuestro equipo de desarrollo web ofrece servicios completos que incluyen diseño y desarrollo de sitios web, optimización para motores de búsqueda (SEO), y soporte continuo. Trabajamos con una variedad de tecnologías y plataformas, como HTML, CSS, JavaScript, WordPress, y más, para asegurar que su página web sea funcional y atractiva.",
      },
      {
        title: '5. ¿Puedo visitar su laboratorio para ver las impresoras 3D en acción?',
        description:
          "Sí, ofrecemos visitas guiadas a nuestro laboratorio para que pueda ver nuestras impresoras 3D en funcionamiento. Durante la visita, nuestro personal estará disponible para responder preguntas y proporcionar demostraciones en vivo de nuestros procesos de impresión.",
      },
      {
        title: '6. ¿Qué experiencia necesitan tener los estudiantes para inscribirse en los cursos de impresión 3D?',
        description:
          "No se requiere experiencia previa para inscribirse en nuestros cursos de nivel básico. Para los cursos intermedios y avanzados, es recomendable tener un conocimiento básico de diseño 3D y operación de impresoras. Ofrecemos evaluaciones previas para ayudar a determinar el nivel adecuado para cada estudiante.",
      }
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats

    stats={[
      { title: 'Impresiónes realizadas', amount: '+4000' },
      { title: 'Cursos impartidos', amount: '+150' },
      { title: 'Páginas Web creadas', amount: '+30' },
      { title: 'Videojuegos creados', amount: '+15' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction>
    <Fragment slot="title">
      <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Laboratorio de inventores</span>
    </Fragment>

    <Fragment slot="subtitle">
      Blvd. Gral. Marcelino García Barragán 1421, Olímpica, 44430 Guadalajara, Jal. CUCEI Módulo N <br class="hidden md:inline" />Lunes a Viernes de 8am - 8pm / Sabados de 9am a 3pm
    </Fragment>
  </CallToAction>
</Layout>